*-+ .34
<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      {{"NEW_DEAL.HEADER"|translate}}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="addDealForm" (submit)="addDeal()" novalidate>
    <ion-list>

      <ion-item>

        <ion-label floating>{{"NEW_DEAL.ID"|translate}}</ion-label>
        <ion-icon name="search" color="mainColor" (click)="updatePassword()" left></ion-icon>
        <ion-input type="number" formControlName="ID" [disabled]="!isNewDeal" (change)="isExists()"></ion-input>
      </ion-item>

      <!--<ion-item *ngIf="!this.addCheckForm.controls.ID.valid">
    <p>
      Please enter a valid ID number
    </p>
  </ion-item>-->

      <ion-item>
        <ion-label floating>{{"NEW_DEAL.PASSPORT"|translate}}</ion-label>
        <ion-input type="number" formControlName="passport" [disabled]="!isNewDeal" (change)="isExists()"></ion-input>
      </ion-item>
      <img [src]="captureDataUrl" *ngIf="captureDataUrl" />
      <ion-item>
        <ion-label floating>{{"NEW_DEAL.CHECK_NUMBER"|translate}}</ion-label>
        <ion-input type="number" formControlName="checkNumber"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>{{"NEW_DEAL.SUM"|translate}}</ion-label>
        <ion-input type="number" formControlName="sum"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>{{"NEW_DEAL.BANK"|translate}}</ion-label>
        <ion-input type="text" formControlName="bank"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>{{"NEW_DEAL.BRANCH"|translate}}</ion-label>
        <ion-input type="number" formControlName="branch"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>{{"NEW_DEAL.DUE_DATE"|translate}}</ion-label>
        <ion-input style="display:none" [(ngModel)]="selectedDate" formControlName="dueDate"></ion-input>
        <ion-datetime min="{{minDay | date: 'yyyy'}}" max="{{maxDay | date: 'yyyy'}}" displayFormat="DD/MM/YYYY" pickerFormat="DD/MMM/YYYY"
          formControlName="dueDate" [(ngModel)]="selectedDate"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-icon name="ios-camera" color="primary" ng-disabled="picTaken" (click)="takePic()"></ion-icon>
      </ion-item>

    </ion-list>
    <button ion-button block type="submit">{{"NEW_DEAL.BUTTON_TEXT"|translate}}</button>
    <button ion-button block color="secondColor" (click)="navigateHome()">{{"NEW_DEAL.BUTTON_FINISH"|translate}}</button>
  </form>
</ion-content>