<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      {{"REGISTER.HEADER"|translate}}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="registerForm" (submit)="register()">
    <ion-list>

      <ion-item>
        <ion-label floating>{{'REGISTER.FIRST_NAME'|translate}}</ion-label>
        <ion-input type="text" formControlName="firstname"></ion-input>
      </ion-item>
      <div *ngIf="!firstname_valid">{{"REGISTER.NAME_VALID"|translate}}</div>

      <ion-item>
        <ion-label floating>{{'REGISTER.LAST_NAME'|translate}}</ion-label>
        <ion-input type="text" formControlName="lastname"></ion-input>
      </ion-item>
      <div *ngIf="!lastname_valid">{{"REGISTER.NAME_VALID"|translate}}</div>

      <ion-item>
        <ion-label floating>{{"REGISTER.USERNAME"|translate}}</ion-label>
        <ion-input formControlName="username" type="text"></ion-input>
      </ion-item>
      <div *ngIf="!username_valid">{{"REGISTER.USERNAME_VALID"|translate}}</div>
      <!-- <div *ngIf="username.hasError('required') && username.touched" class="error-box">* Password is required</div> -->
      <ion-item>
        <ion-label floating>{{"REGISTER.PASSWORD"|translate}}</ion-label>
        <ion-input formControlName="password1" type="password" (change)="authPassword()"></ion-input>
      </ion-item>
      <div *ngIf="!password1_valid">{{"REGISTER.PASSWORD1_VALID"|translate}}</div>

      <ion-item *ngIf="passIsFilled">
        <ion-label floating>{{"REGISTER.AUTHENTICATION_PASSWORD"|translate}}</ion-label>
        <ion-input formControlName="password2" type="password"></ion-input>
      </ion-item>
      <div *ngIf="!password2_valid">{{"REGISTER.PASSWORD2_VALID"|translate}}</div>

      <!-- 
   <ion-item>
    <ion-label floating>First Name</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>Last Name</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item> -->

      <!-- <ion-item>
    <ion-label >Business type</ion-label>
    <ion-select interface="popover" class="select select-ios ng-untouched ng-pristin ng-valid" >
      <ion-option value="p">Private</ion-option>
      <ion-option value="c">Corporation</ion-option>
    </ion-select>
  </ion-item> -->

      <ion-item>
        <ion-label floating>{{"REGISTER.EMAIL"|translate}}</ion-label>
        <ion-input formControlName="email" type="email"></ion-input>
      </ion-item>
      <div *ngIf="!email_valid">{{"REGISTER.EMAIL_VALID"|translate}}</div>

      <ion-item>
        <ion-label floating>{{"REGISTER.MOBILE"|translate}}</ion-label>
        <ion-input formControlName="number" type="tel"></ion-input>
      </ion-item>
      <div *ngIf="!mobile_valid">{{"REGISTER.MOBILE_VALID"|translate}}</div>

      <!-- <ion-item>
        <ion-label floating>{{"REGISTER.TELEPHONE"|translate}}</ion-label>
        <ion-input formControlName="telephone" type="tel"></ion-input>
      </ion-item> -->

      <ion-item>
        <ion-label floating>{{"REGISTER.ADDRESS"|translate}}</ion-label>
        <ion-input formControlName="address"></ion-input>
      </ion-item>
      <div *ngIf="!address_valid">{{"REGISTER.ADDRESS_VALID"|translate}}</div>

      <!-- <ion-item>
    <ion-label floating>Address</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item> -->

    </ion-list>
    <div>
      <button ion-button color="primary" type="submit" block>{{"REGISTER.TEXT_REGISTER"|translate}}</button>
    </div>
  </form>

</ion-content>