<ion-header>
    <ion-navbar color="primary">
        <button ion-button clear color="light" (click)="dismiss()">Close</button>
        <ion-title *ngIf="!isAuth">
            {{"FORGOT_PASSWORD.HEADER_F"|translate}}
        </ion-title>
        <ion-title *ngIf="isAuth">
            {{"FORGOT_PASSWORD.HEADER_A"|translate}}
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>

<form [formGroup]="detailsForm" (submit)="globalFunc()">
    <ion-item>
        <ion-label floating>{{"FORGOT_PASSWORD.INPUT_TEXT"|translate}}</ion-label>
        <ion-input type="email"  formControlName="emailAddress"></ion-input>
    </ion-item>
    <ion-item >
        <ion-label *ngIf="isAuth" floating>{{"FORGOT_PASSWORD.NAME_TEXT"|translate}}</ion-label>
        <ion-label *ngIf="!isAuth" floating>{{"FORGOT_PASSWORD.CORNAME_TEXT"|translate}}</ion-label>
        <ion-input type="string" formControlName="name"></ion-input>
    </ion-item>
    <button ion-button block type="submit">{{"FORGOT_PASSWORD.BUTTON_TEXT"|translate}}</button>
</form>

</ion-content>