<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      {{"PAST_DUE_DATE.HEADER"|translate}}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div >
    
    <ion-grid>
      <ion-row>
        <ion-col col-2>
          <ion-label>{{"PAST_DUE_DATE.SORT_BY"|translate}}</ion-label>
        </ion-col>
        <ion-col col-4>
          <ion-select [(ngModel)]="orderProp" okText="{{okText}}" cancelText="{{cancelText}}" (ionChange)="sort()">
            <ion-option value="firstName">{{"PAST_DUE_DATE.NAME"|translate}}</ion-option>
            <ion-option value="created">{{"PAST_DUE_DATE.DATE"|translate}}</ion-option>
          </ion-select>
        </ion-col>
        <ion-col col-6>
          <ion-searchbar placeholder="{{searchText}}" autocomplete="on" (ionInput)="getItems($event)"></ion-searchbar>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-list>
      <ion-list-header color="secondColor">
        <div> {{"PAST_DUE_DATE.TITLE"|translate}}</div>
      </ion-list-header>
      <div *ngFor="let Deal of deals ">
        <ion-row>
          <ion-item-divider color="primary" (click)="thisDeal(Deal)">
            <ion-label>{{"PAST_DUE_DATE.NAME"|translate}}: {{Deal.firstName}}</ion-label>
            <ion-label> {{"PAST_DUE_DATE.DEAL_DATE"|translate}} : {{Deal.created}} </ion-label>
          </ion-item-divider>
        </ion-row>
        <div *ngFor="let check of Deal.checks" (click)="thisCheck(check)">
          <ion-item *ngIf="selectedDeal&&Deal==selectedDeal">
            <ion-label > {{"PAST_DUE_DATE.SUM"|translate}}: {{check.sum}}</ion-label>
            <ion-label > {{"PAST_DUE_DATE.DUE_DATE"|translate}} : {{check.dueDate}}</ion-label>
          </ion-item>
        </div>
      </div>
    </ion-list>

    <div dir="{{direct}}">
     <button ion-button color="mainColor" (click)="save()">{{"PAST_DUE_DATE.SAVE"|translate}}</button>
    </div>
  </div>
</ion-content>